<h3 class="page-heading">Post Comment</h3>
  <div class="show-tweet-content">
    <div class="show-tweet-box">
      <%= attachment_image_tag @post, :image, class: "show-tweet-image" %>
      <!-- つぶやきの内容部分 -->
      <div class="show-tweet">
        <%= attachment_image_tag @post.user, :profile_image, fallback: "no_image.jpg", class: "tweet-profile-image" %>
        <%= @post.user.name %>
        <% if @post.user == current_user %>
          <%= link_to "削除", tweet_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "tweet-destroy-btn" %>&nbsp;
        <% end %>
        <!-- いいね・コメントマーク -->
        <span id="likes_btn_<%= @post.id %>">
        <%= render partial: 'public/tweets', locals: {post: @post} %>
        </span>
        <%= link_to post_path(@post) do %>
          <i class="far fa-comment"></i>
        <% end %>
        <%= @post.post_comments.count %>
      </div>
      <div class="show-tweet-title">
        <%= @post.title %>
      </div>
      <div class="post-text">
      <%= @post.content %>
      </div>
      <div class="tweet-date">
        <%= @post.created_at.strftime('%F') %>&nbsp;
        <%= @post.created_at.strftime('%H:%M') %>
      </div>
    </div>
    <div class="show-tweet-box">
      <!-- コメント入力部分 -->
      <div class="new-comment">
        <%= form_with(model:[@post, @comment], local: true) do |f| %>
        <%= f.text_field :comment, class: "tweet-form" %>
        <%= f.submit '送信', class: "tweet-btn" %>
        <% end %>
      </div>
      <!-- 入力されたコメントの表示部分 -->
      <% @post.comments.each do |comment| %>
        <div class="comments">
          <%= attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", class: "tweet-profile-image" %>
          <%= link_to "#{comment.user.name}", user_path(comment.member), class: "member-name" %>
          <span class="tweet-date">
          　<% if comment.user == current_user %>
              <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "tweet-destroy-btn" %><br>
            <% end %>
          </span>
          <div class="tweet-text">
            <%= comment.comment %>
          </div>
          <div class="tweet-date">
        　　<%= comment.created_at.strftime('%F') %>&nbsp;<%= comment.created_at.strftime('%H:%M') %>
        　　<hr class="tweet-border">
          </div>
        </div>
      <% end %>
    </div>
  </div>