<div class="container">
  <div class="user-box row">
    <div class="col-lg-4">
      <div>
        <%= attachment_image_tag @user, :profile_image, size: "200x200", format: 'jpg', fallback: "no_image.jpg", class: "rounded-circle" %>
      </div>
      <h4>
        <%= @user.name %>
      </h4>
      <!--フォローボタン-->
      <div >
        <%= render 'public/relationships/follow_button', user: @user %>
      </div>
      <!--フォロー/フォロワー一覧-->
      <div>
        <div><%= link_to "フォロー: #{@user.followings.count} ", followings_path(id: @user.id) %></div>
        <div><%= link_to "フォロワー: #{@user.followers.count} ", followers_path(id: @user.id) %></div>
      </div>
      
  <div class="col-lg-8">
    <div class="introduction">
        <%= @user.introduction %>
    </div>
    
    <!--ログインユーザーのみに表示-->
    <% if current_user.id == @user.id %>
      <!-- 編集リンク・アイコン付き -->
      <%= link_to edit_user_path(current_user) do %>
      　 <i class="fas fa-wrench" ><span class="icon-text">編集</span></i>
      <% end %>
      <!-- つぶやきリンク・アイコン付き -->
      <%= link_to new_post_path do %>
          <i class="fas fa-comment"><span class="icon-text">投稿する</span></i>
      <% end %>
    <% end %>
  </div>
   