  <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Cafelink</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li><%= link_to ' Home',user_path(current_user),class: 'fas fa-home nav-link text-light' %></li>
          <li><%= link_to ' Users',users_path,class: 'fas fa-users nav-link text-light' %></li>
          <li><%#= link_to ' Posts',posts_path ,class: 'fas fa-post-open nav-link text-light'%></li>
          <li><%= link_to ' logout', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>
        <% else %>
          <li><%= link_to ' Home',root_path,class: 'fas fa-home nav-link text-light' %></li>
          <li><%#= link_to ' About',home_about_path,class: 'fas fa-link nav-link text-light' %></li>
          <li><%= link_to ' sign up', new_user_registration_path,class: 'fas fa-user-plus nav-link text-light' %></li>
          <li><%= link_to ' login', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-light'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
---------------------------------
<header class="header">
  <nav class="navbar navbar-expand-lg ">
    <buttun class="navbar-toggler" type="buttun" data-toggle="collapse" data-target="#navbarVavDropdown" aria-controls="nabarNavDropdown" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </buttun>

    <div class="collapse navbar-collapse text-light" id="navbarNavDropdown">

      <ul class="navbar-nav">

        <!-- userがログイン時-->
        <% if user_signed_in? %>
        <p>
          <%= link_to root_path do %>
            <p class="head-logo"><%= image_tag 'logo.png', :size => "100x100" %></p>
          <% end %>
        </p>
        <div class="collapse navbar-collapse justify-content-end ">
          <ul class="head-path-box">
            <li class="nav-item">
              <%= link_to homes_about_path do %>
                <p class="user-head-path">cafelinkとは？</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_path(current_user) do %>
                <p class="user-img-path">
                  <!--Mypage-->
                  <%= attachment_image_tag current_user, :profile_image, size: "50x50", format: 'jpg', fallback: "no_image.jpg", class: "rounded-circle" %>
                  <%= current_user.name %>
                </p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <p class="user-head-path">ログアウト</p>
              <% end %>
            </li>
          </ul>
        </div>

        <!-- 管理人がログイン時 -->
        <% elsif admin_signed_in? %>
        <p>
          <%= link_to admin_path do %>
            <p class="head-logo"><%= image_tag 'cafe.jpg', :size => "100x100" %></p>
          <% end %>
        </p>
        <div class="collapse navbar-collapse justify-content-end ">
          <ul class="head-path-box">
            <li class="nav-item">
              <%= link_to admin_comics_search_path do %>
                <p class="admin-head-path">コミック新規登録</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_posts_path do %>
                <p class="public-head-path">コミック一覧</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_genres_path do %>
                <p class="admin-head-path">ジャンル登録/一覧</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <p class="admin-head-path">ログアウト</p>
              <% end %>
            </li>
          </ul>
        </div>

        <!-- どちらもログインしていない時 -->
        <% else %>
        <p>
          <%= link_to root_path do %>
            <p class="head-logo"><%= image_tag 'cafe.jpg', :size => "100x100" %></p>
          <% end %>
        </p>
        <div class="collapse navbar-collapse justify-content-end ">
          <ul class="head-path-box">
            <li class="nav-item">
              <%= link_to homes_about_path do %>
                <p class="default-head-path">cafelinkとは？</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path do %>
                <p class="default-head-path">新規登録</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path do %>
               <p class="default-head-path">ログイン</p>
              <% end %>
            </li>
          </ul>
        </div>

        <% end %>

      </ul>

    </div>

  </nav>

</header>
<div class="row p-0 m-0">
  <div class="head-search col-lg-12 p-0 m-0">
    <% if admin_signed_in? %>
      <!--%= render 'admin/homes/search_form' %>-->
    <% else %>
      <%= render 'public/users/search_form' %>
    <% end %>
  </div>
</div>